html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
 
#container {
    width: 100%;
    height: 100%;
    display: table;
}
 
.page {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    display: none;
}
 
#page-main {
    display: block;
}
 
.header {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    background-color: rgba(0, 80, 179, 1);
    z-index: 999;
    display: table;
}
 
.header-text {
    color: #ffffff;
    font-size: 1.5em;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
 
.contents {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.993);
}
.maingrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    background-color: rgba(0, 0, 0, 0.993);
    padding: 10px
}

.grid{
    background-color : rgba(0,0,0,0.993);
}

#bar1{
    background-image : url("../image/bar-top.png");
    background-size: contain;
    width: auto;
    height: auto;
}

#bar2{
    background-image: url("../image/bar-left.png");
    background-size: contain;
    width: auto;
    height: auto;
}
.detail {
    width: 80%;
    height: 80%;
    

}

#error-message {
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
 
#ball, #ball1, #ball2, #outer-circle, #glow, #glow1, #glow2, #bar-top,#bar-left {
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    display: none;
}
 
#ball,#ball1,#ball2 {
    background-image: url('../image/level_bubble.png');
    width: 64px;
    height: 64px;
}
 
#outer-circle {
    background-image: url('../image/circle_outer.png');
    background-size: contain;
    width: auto;
    height: auto;
}   

#glow,#glow1,#glow2 {
    background-image: url('../image/glow.png');
    background-size: contain;
    width: 64px;
    height: 64px;
}